force-app/main/default/flows/Flujo_notificar_pagos.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>notificar_matias</name>
        <label>notificar matias</label>
        <locationX>674</locationX>
        <locationY>58</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Notificar a matias</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>{!pago.Id} {!pago.Name} {!pago.Orden_de_compra__r.Name}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>matias.wepfer@rosbacogroup.com</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <interviewLabel>Flujo notificar pagos {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flujo notificar pagos v2</label>
    <loops>
        <name>iterar_pagos</name>
        <label>iterar pagos</label>
        <locationX>405</locationX>
        <locationY>62</locationY>
        <assignNextValueToReference>pago</assignNextValueToReference>
        <collectionReference>coleccionpagos</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>notificar_matias</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Buscar_pagos</name>
        <label>Buscar pagos</label>
        <locationX>254</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>iterar_pagos</targetReference>
        </connector>
        <filters>
            <field>Estado__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Pagada</stringValue>
            </value>
        </filters>
        <filters>
            <field>Fecha_de_pago__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <object>Orden_de_pago__c</object>
        <outputReference>coleccionpagos</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Estado__c</queriedFields>
        <queriedFields>Fecha_de_pago__c</queriedFields>
        <queriedFields>Monto__c</queriedFields>
        <queriedFields>Orden_de_compra__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <sortField>Estado__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <startElementReference>Buscar_pagos</startElementReference>
    <status>Draft</status>
    <variables>
        <name>coleccionpagos</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Orden_de_pago__c</objectType>
    </variables>
    <variables>
        <name>Mails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>mwepfer@gmail.com</stringValue>
        </value>
    </variables>
    <variables>
        <name>Ordenesdepago</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Orden_de_pago__c</objectType>
    </variables>
    <variables>
        <name>ordenesdepago2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Orden_de_pago__c</objectType>
    </variables>
    <variables>
        <name>pago</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Orden_de_pago__c</objectType>
    </variables>
</Flow>
